#root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* App.jsx */
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SearchBar */
.searchForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label-search {
  font-size: 24px;
  font-weight: 800;
}

.input-search {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  text-indent: 40px;
  font-size: 18px;
  width: 100%;
  height: 56px;
}

.input-search::placeholder {
  opacity: 60%;
}

.search-wrapper {
  position: relative;
}

.search-wrapper img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  padding-left: 15px;
  padding-top: 19px;
  opacity: 50%;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
}
.card-container {
  max-width: 300px;
  padding: 20px;
}

.card-container:hover {
  border-radius: 15px;
  transition-duration: 0.35s;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  color: white;
  }

.flag-img {
  width: 300px;
  height: 177px;
}
.info-wrapper {
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
}
.country-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
}

.error-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
}
